

.image-text {
	text-align: center;
	font-family: "Annie Use Your Telescope", cursive;
  	font-weight: 400;
	color: #fff;
	animation-name: imgtext;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	font-size: 4rem;
}

body {
	background-color: #000000 !important;
	width: 100%;
	height: 100%;
}

.lights {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: auto;
}

.lights::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: radial-gradient(circle at 5px 5px, #ffff00 0, #ffff00 15px, transparent 3px),
                radial-gradient(circle at 40px 5px, #00ff00 0, #00ff00 15px, transparent 3px),
                radial-gradient(circle at 75px 5px, #ff0000 0, #ff0000 15px, transparent 3px);
	background-size: 100px 40px;
	filter: blur(6px);
	pointer-events: none;
}

.main {
	position: relative;
	width: 97.5%;
	height: 91%;
	background-color: #000000 !important;
	margin: 2% auto;
}

.c-text {
	animation-name: text;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	color: white !important;
}

hr {
	border: 1px solid white !important;
	opacity: 1 !important;
}


@keyframes text {
	0% {
		opacity: 0;
		transform: translate(0, 10px);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes imgtext {
	0% {
		font-size: 2rem;
	}
	70% {
		font-size: 5rem;
	}
	100% {
		font-size: 4rem;
	}
}